<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title Here</title>
</head>
<body>


    <div class= "container">
        <H1>Thanks for signing up {{session['name']}}!</H1>
        <p clas= "lead"><b> We hope up have a great experience with us !</b></p>
        <br>
        Name :{{session['name']}}
      
        Publicity:{{session['publicity']}}
        Feedback :{{session['feedback']}}
        <p><a href="#" class=  "btn btn-primary btn-lg">Start Buying today</a></p>
        
    </div>
</body>
</html>